html, body {  
      margin: 0;  
      padding: 0;  
  }  
  header {  
      background-color: black;  
      color: Pink;  
      height: 60px;  
      width: 100%;  
      position: fixed;  
  
  #menu {  
      float: right;  
      margin-right: 5%;  
      list-style: none;  
      margin-top: 0px;  
  }  
  li {  
      float: left;  
      padding: 20 10 20 10;  
  }  
  li:hover {  
      background-color: blue;  
  
  }  
  #titulo {  
      color:blue;  
      padding-top: 20%;  
      font-size: 70px;  
      line-height: 0.6;  
  
  }  
  #subtitulo {  
      color: white;  
      margin-left: 20%;  
      margin-right: 20%;  
      border-top: 3px solid white;  
      text-shadow: 1px 1px  black; 
